.aboutCol {
  background: var(--lightBlack);
  color: var(--white);
}

html,
body {
  height: 100%;
}

/* -- root -- */
:root {
  --white: #FFF;
  --black: #000;
  --lightBlack: #303030;
  --lightGrey: #888b8d;
}